@model IEnumerable<Hospital_Web.Models.ApplicationUser>

<h2>Gestão de Utilizadores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <!-- adicionar botões para editar, apagar  -->
                    <a class="btn btn-danger">Apagar</a>
                    <a class="btn btn-danger">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
