@model Tuple<string, string, string>

<div class="card h-100 hover-shadow">
    <div class="card-body text-center d-flex flex-column justify-content-between">
        <h5 class="card-title mb-4">@Model.Item1</h5>
        <a asp-controller="@Model.Item2" asp-action="@Model.Item3" class="btn btn-outline-primary w-100">Acessar</a>
    </div>
</div>