@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank" rel="noopener noreferrer">
            building web apps with ASP.NET Core
        </a>.
    </p>

    <h2 class="mt-4">Navigation</h2>
    <ul class="list-unstyled">
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Consultas" asp-action="Index">Consultas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="FuncionarioLimpezas" asp-action="Index">Funcionários de Limpeza</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Gabinetes" asp-action="Index">Gabinetes</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Internamentos" asp-action="Index">Internamentos</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="LimpezaSalas" asp-action="Index">Limpeza de Salas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Medicos" asp-action="Index">Médicos</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Pessoas" asp-action="Index">Pessoas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="QuartosInternagems" asp-action="Index">Quartos de Internamento</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Salas" asp-action="Index">Salas</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Utentes" asp-action="Index">Utentes</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Utilizadores" asp-action="Index">Utilizadores</a>
        </li>
    </ul>
</div>
