@{
    ViewData["Title"] = "Informações do Projeto";
}

<h2>@ViewData["Title"]</h2>


<p><strong>Curso:</strong> Engenharia Informática </p>
<p><strong>Disciplina:</strong> Desenvolvimento Web</p>
<p><strong>Ano letivo:</strong> 2024/2025</p>

<p><strong>Autores:</strong> Sofia Vedor - Nrº 26411 | Daniel Paulo - Nrº 25966</p>

<h3>Bibliotecas e Frameworks usadas</h3>
<ul>
    <li>ASP.NET Core MVC (https://dotnet.microsoft.com/apps/aspnet)</li>
    <li>Entity Framework Core (https://docs.microsoft.com/en-us/ef/core/)</li>
    <li>Bootstrap 5 (local em lib/bootstrap) - https://getbootstrap.com/</li>
    <li>jQuery (local em lib/jquery) - https://jquery.com/</li>
    <li>jQuery Validation (local em lib/jquery-validation) - https://jqueryvalidation.org/</li>
</ul>

<h3>Credenciais iniciais dos utilizadores</h3>
<ul>
    <li>Admin: admin@hospital.com / Password: Hosp@123456</li>
    <li>Utilizador normal (Utente): sofia.vedor.05@gmail.com / Password: 66{{SOSpk5</li>
    <li>Utilizador normal (Medico): sofiavedorslb@gmail.com / Password: 66{{SOSpk5</li>
    <li>Utilizador normal (Empreg.Limpeza): magoncalves@norauto.pt / Password: 66{{SOSpk5</li>
</ul>

