@model Hospital_Web.Models.Utilizador

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Utilizador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome_Utilizador" class="control-label"></label>
                <input asp-for="Nome_Utilizador" class="form-control" />
                <span asp-validation-for="Nome_Utilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Criacao_Conta" class="control-label"></label>
                <input asp-for="Data_Criacao_Conta" class="form-control" />
                <span asp-validation-for="Data_Criacao_Conta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa_Id" class="control-label"></label>
                <select asp-for="Pessoa_Id" class ="form-control" asp-items="ViewBag.Pessoa_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
