@model Hospital_Web.Models.Internamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Internamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHoraEntrada" class="control-label"></label>
                <input asp-for="DataHoraEntrada" type="datetime-local" class="form-control" />
                <span asp-validation-for="DataHoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraSaida" class="control-label"></label>
                <input asp-for="DataHoraSaida" type="datetime-local" class="form-control" />
                <span asp-validation-for="DataHoraSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utente_Id" class="control-label"></label>
                <select asp-for="Utente_Id" class ="form-control" asp-items="ViewBag.Utente_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quarto_Id" class="control-label"></label>
                <select asp-for="Quarto_Id" class ="form-control" asp-items="ViewBag.Quarto_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consulta_Id" class="control-label"></label>
                <select asp-for="Consulta_Id" class ="form-control" asp-items="ViewBag.Consulta_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
