@page
@model Hospital_Web.Areas.Identity.Pages.Account.ForceChangePasswordModel
@{
    ViewData["Title"] = "Alteração obrigatória de password";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div> <!-- Adicionado -->

    <div class="form-group">
        <label>Nova Password</label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger" />
    </div>
    <div class="form-group">
        <label>Confirmar Password</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger" />
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
