@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar Confirmação";
}

<h3>Reenviar Email de Confirmação</h3>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Email">Email</label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reenviar</button>
</form>
