@model Hospital_Web.Models.RegistoClinico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistoClinico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Utente" class="control-label"></label>
                <select asp-for="Utente" class ="form-control" asp-items="ViewBag.Utente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Medico" class="control-label"></label>
                <select asp-for="Medico" class ="form-control" asp-items="ViewBag.Medico"></select>
            </div>
            <div class="form-group">
                <label asp-for="Episodio" class="control-label"></label>
                <select asp-for="Episodio" class ="form-control" asp-items="ViewBag.Episodio"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamento" class="control-label"></label>
                <input asp-for="Tratamento" class="form-control" />
                <span asp-validation-for="Tratamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
